@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');

:root {

    --clr-primary: #ffffff;
    --clr-secondary: #f7f7f7;
    --clr-Heading: #353535;

    --clr-text-light: #415859;
    --clr-sec-head: #025B5D;
    
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Mulish', sans-serif;
    --font-terinary: 'Roboto', sans-serif;

    --wgt-bolder: 700;
    --wgt-semi-bold: 600;
    --wgt-light: 400;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* dark mode user-agent-styles */

html {
    color-scheme: dark light;
}

/* min body height */

body {
    min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* navigation bar */
.flex-align-center {
    display: flex;
    align-items: center;
}

#navbar {
    font-family: var(--font-terinary);
    background-color: var(--clr-secondary);
    padding: .5rem 3%;
    gap: 2rem;
    color: var(--clr-text-light);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 10;
}

#utilities {
    flex: 1;
    justify-content: space-around;
}

#location {
    flex: 1;
    gap: 1rem;
}

.menu-list {
    gap: 2rem;
    padding: 0 2rem;
    list-style: none;

}

.menu-list a {
    text-decoration: none;
    color: inherit;
}

#playstore {
    border: 1px solid #415859;
    gap: 1rem;
    border-radius: 5px;
    padding: .5rem 1rem;
    color: inherit;
}

#acc {
    gap: .5rem;
}


/* main content */
main {
    font-family: var(--font-primary);
}

#sec1 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

#sec1>div {
    flex: 1;
}

#sec1>.left {
    background: url("media/navbar/section1-left.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sec1-left-head {
    width: 68%;
    font-size: 3rem;
    text-align: center;
    color: var(--clr-primary);
    font-weight: var(--wgt-bolder);
}

.section>.right {
    background-color: aqua;
}

.search {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    color: var(--clr-primary);
    align-items: center;
}

.search>div {
    font-size: .95rem;
}

#searchinput {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#searchicon {
    position: relative;
    left: 2rem;
}

#searchinput>input {
    padding: 1rem 2.2em;
    width: 40vw;
    border: none;
    border-radius: 4.9863px;
    font-size: 1.2rem;
    flex-wrap: wrap;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.right>h2 {
    font-size: 2rem;
    font-weight: var(--wgt-semi-bold);
    color: #353535;
    padding: 1rem;
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    gap: 2rem;
}

    /* 
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
     */

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
}

#offers {
    display: flex;
    overflow-x: auto;
    gap: .5rem;
    padding: .5rem;
}

.flat {
    background-color: #E8625D;
    font-family: var(--font-secondary);
    font-weight: 800;
    color: #FCFCFC;
    font-size: 1.2rem;
    display: flex;
    padding: 0.2rem 1rem;
    gap: 1rem;
    position: relative;
    left: 35%;
}


/* Section 2 */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-primary);
    padding: 4rem;
}

.section>h2 {
    color: var(--clr-sec-head);
    font-weight: var(--wgt-semi-bold);
    font-size: 2.2rem;
}

.section>p {
    size: 1.125rem;
    font-weight: 500;
}

.card-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.card {
    box-shadow: 0px 5.07432px 25.3716px 2.96002px rgba(57, 57, 57, 0.15);
    border-radius: 17.9289px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 200px;
    height: 150px;
    margin-top: 5rem;
}

.card img {
    position: relative;
    bottom: 1rem;
}

.card p {
    text-align: center;
    width: 60%;
    position: relative;
    bottom: 1rem;
}

/* section 3 */

.sec3cards{
    height: 13rem;
    gap: 1rem;
}

.sec3cards:hover{
    background: linear-gradient(48.55deg, #FFA500 -6.74%, #FFECCA 120.59%);
    font-weight: var(--wgt-semi-bold);
}

/* section 4 */

.safe-container{
    width: max-content;
    margin: 2rem auto;
    display: flex;
    background-color: #ECECEE;
    border-radius: 20px;
}
.safe-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 1rem;
}

.safe-content p{
    font-size: 2.2rem;
    color: var(--clr-sec-head);
    font-weight: var(--wgt-semi-bold);
    padding-left: 1rem;
}
.safe-content ul li::marker{
    color: #616161;
}
.safe-content ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 2rem;    
}
.safe-content ul li{
    font-family: var(--font-secondary);
    padding: 1rem 2rem 1rem 0;
}
.safe-container img{
    border-radius: 20px;
}

/* section 5 */
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-terinary);

}
.box{
    background-color: #531C1C;
    width: 17rem;
    height: 10rem;
    border-radius: 10px;
    margin: 1rem;
}

.light{
    font-size: .8rem;
    color: #757575;
}

#sec5 .card-items{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: .5rem;
}

@media screen and (max-width: 1200px) {
    #sec5 .card-items{
        align-self: normal;
    }
}

/* section 6 */
#sec6{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-primary);
    background-color: var(--clr-secondary);
    padding: 4rem;
}
#sec6 > h2{
    font-size: 3rem;
    font-weight: var(--wgt-bolder);
    color: #3A3A3A;
    margin: 2rem;
}
.assurance{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.assured-cards{
    display: flex;
    align-items: center;
    max-width: 30%;
}
.assured-cards h4{
    font-weight: var(--wgt-semi-bold);
}
.assured-cards p{
    font-weight: var(--wgt-semi-bold);
    color: #707070;
}

/* Section 8 */
.book-service-div{
    background: linear-gradient(180deg, #FBD268 0%, #F1BA29 100%);
    display: flex;
    justify-content: center;
}
.book-service{
    max-width: 1400px;
    display: flex;
    align-items: center;

}

.book-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-content > h1{
    font-size: 3rem;
    font-weight: var(--wgt-semi-bold);
    text-align: center;
    margin-top: 2rem;
}

.book-content p{
    font-size: 2rem;
    font-weight: 300;
}

.text-with-line{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.line{
    width: 5rem;
    border: 1px solid black;
}
#service-button{
    margin: 2rem;
    padding: 1rem 2rem;
    background: transparent;
    color: #A90000;
    border: 1px solid #A90000;
    border-radius: 2rem;
    font-size: 1.8rem;
    font-weight: 800;
    font-family: var(--font-secondary);
}

/* section 9 */

.products{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.products h2{
    color: var(--clr-sec-head);
    font-weight: var(--wgt-semi-bold);
    font-size: 2.2rem;
    margin: 1rem;
}

.products .card-items img{
    align-self: center;
}

.products .card-items{
    flex-wrap: nowrap;
    align-self: normal;
    overflow-x: auto;
    padding: 2rem ;
}

.card{
    min-width: 200px;
    min-height: 150px;
}
.products > .head{
    max-width: 300px;
}

.products > .head  p{
    margin: 1rem;
}
#next{
    transform: rotate(180deg)
}
